#workout
  %p= @workout.workout
  %p= @workout.date
  %p= @workout.length
  %p= @workout.mood

#exercises
  %h2 Exercises
  =render @workout.exercises.reject( &:new_record? )

#new_exercise
  %h3 Add Exercise
  =render '/exercises/form'

#links
  =link_to 'Back', workouts_path
  =link_to 'Edit', [:edit, @workout]
  =link_to 'Destroy', @workout, method: :delete, data:{ confirm:'Are you sure?' }
